* {
  margin: 0%;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

/* #root {
  align-items: center;
  justify-content: center;
} */

#link {
  float: right;
}

.output {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.labels-list {
  color: red;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

.values-list {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  
}

.labels {
margin-bottom: 10%;
}

.value {
  margin-bottom: 10%;
}

#copy-this {
  opacity: 0;
}


